@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
body {
    /* letter-spacing: .4px; */
    font-family: 'Exo 2', sans-serif;
}

.Login .login_Bg {   
    background-color: #f0f0f0!important;
    /* background-color: #1ea9ff!important; */
    background-image: none;
    height: 100vh;
}
.Login .login_img {
    background: url(../public/assets/img/loginbg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
.Login .login_logo {
    width: 180px;
    height: 180px;
    margin-top: 20px;
    transition: 2s ease-in-out;
    animation: wave;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}
@keyframes wave {
    0%{
        transform: translate(0px, 0px);
    }   
    50%{
        transform: translate(0px, 20px);
    }
    100%{
        transform: translate(0px, 0px);
    }
    
}

.Login .card {
    width: 400px;
    box-shadow: 1px 1px 17px #6868681a;
    margin-left: 40px;
    border-radius: 40px!important;
}
.Login .card-body {
    padding: 20px 28px;
}

.Login form .form-group .label {
    position: absolute;
    transform: translate(20px, -35px);
    transition: 0.2s ease-in-out;
}
.Login form .form-group input:focus ~ .label span:nth-child(1) {
    animation: wavy1 .5s linear;    
}
.Login form .form-group input:focus ~ .label span:nth-child(2) {
    animation: wavy2 .5s linear;
    animation-delay: .1s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(3) {
    animation: wavy3 .5s linear;
    animation-delay: .2s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(4) {
    animation: wavy4 .5s linear;
    animation-delay: .3s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(5) {
    animation: wavy5 .5s linear;
    animation-delay: .4s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(6) {
    animation: wavy6 .5s linear;
    animation-delay: .5s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(7) {
    animation: wavy7 .5s linear;
    animation-delay: .6s;    
}
.Login form .form-group input:focus ~ .label span:nth-child(8) {
    animation: wavy8 .5s linear;
    animation-delay: .7s;    
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #23d461;
    background-color: #23d461;
}

.Login form .form-group input:focus ~ .label, 
.Login form .form-group input:valid ~ .label
{

    transform: translate(15px, -61px);
    background: #23d461;
    color: #fff;
    box-shadow: 0px 0px 13px #ececec;
    border-radius: 17px;
    padding: 1px 10px;   
    font-size: 14px;    
    width: 79px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

@keyframes wavy1 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy2 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy3 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy4 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy5 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy6 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy7 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}
@keyframes wavy8 {
    0%{
        position: relative;
        top: 0px;
    }
    50%{
        position: relative;
        top: -5px;
    }    
    100%{
        position: relative;
        top: 0px;
    }
}


.Login form .login-btn {
    background: #007e2c;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 40px;    
}
.login-btn.disabled, .login-btn:disabled {
    color: #fff;
    background-color: #12c350;
    border-color: #12c350;
}

.Login form  button .dfx{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Login form  button .dfx .fa-gavel{
    position: absolute;
    bottom: 56px;
    left: 53px;
    font-size: 27px;
    transition: .5s ease-in;
}
.Login form  button:hover .dfx .fa-gavel{
    transform: rotate(45deg);
    transition: .1s ease-out;
}
.Login form  button .dfx .fa-gavel.hammer {
    position: absolute;
    bottom: 56px;
    left: 53px;
    font-size: 27px;
    animation: hammer .4s infinite;
    transition: .5s ease-in;
}
@keyframes hammer {
    0%{
        transform: rotate(0deg);        
    }
    100%{
        transform: rotate(45deg);
        transition: .1s ease-out!important;
    }
}


.Login form p.text-danger{
    padding-bottom: 11px;
}
.Login form p.text-danger span{
    position: absolute;
    bottom: 14px;
    left: 100px;
}

.Login form .form-group .form-control-user {
    margin-top: 25px;
}

.form-control:focus {
    border-color: #23d461!important;
    box-shadow: unset!important;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #12c350;
    border-color: #12c350;
}
.btn-primary {
    color: #fff;
    background-color: #12c350;
    border-color: #12c350;
}
.btn-primary:hover {
    color: #fff;
    background-color: #12c350;
    border-color: #12c350;
    box-shadow: 1px 1px 13px #ebebeb;
}
/* .box {
    position: absolute;
    bottom: 0;
    width: 100%;    
    height: 103px;    
} */
/* .box::before {
    content: '';
    background: #f0f0f0;
    height: 100px;
    width: 100px;
    z-index: 9999;
    position: absolute;
}
.box::after {
    content: '';
    background: #f0f0f0;
    height: 100px;
    width: 100px;
    z-index: 9999;
    position: absolute;
    right: 0;
} */
/* 
.truck {
    background: url(../public/assets/img/truck.png);
    height: 100px;
    width: 150px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 2px;
    animation: run 5s infinite linear;    
    transition: 2s linear;
    overflow-x: hidden;
}


@keyframes run {
    0% {
       
        transform: translateX(-100px);
        
    }
    100% {
       
        transform: translateX(1250px);
        
    }
}

.truck1 {
    background: url(../public/assets/img/recycle-truck.png);
    height: 120px;
    width: 200px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -10px;
    animation: run1 5s infinite linear;  
    animation-delay: 3s;  
    transition: 2s linear;
    overflow-x: hidden;
}


@keyframes run1 {
    0% {
       
        transform: translateX(-100px);
        
    }
    100% {
       
        transform: translateX(1250px);
        
    }
}


 ::-webkit-scrollbar 
{
	display: none;
    background: transparent;
}
 ::-webkit-scrollbar-thumb 
{
	display: none;
    background: transparent;
}

::-webkit-scrollbar-track 
{
	display: none;
    background: transparent;
} */





/* ----------------- SIDEBAR */
.SideNav {
    background: #6eb821;
    width: 270px!important;    
    box-shadow: 0px 0px 13px #7171718c;
    backdrop-filter: drop-shadow(1px 1px 14px #7171718c);
    transition: .5s ease-in-out;
    overflow: hidden;
    /* animation: move 3s infinite ease-in-out;     */
}
.SideNav::after {
    content: '';
    position: absolute;
    background-image: url(../public/assets/img/dottedBg3.png);
    background-size: contain;
    opacity: 0.2;
    height: 100%;
    width: 75%;
    animation: movy 14s infinite ease;
    transition: 2s ease-in-out;
    transform: scale(2.9);
    z-index: -11;
}

@keyframes movy {
    0% {
        top: 0;
        left: 0;              
    }     
    25% {                
        top: 10px;
        left: 30px;   
    }           
    50% {
        top: -30px;
        left: -30px;   
        transform: scale(3.9);       
    }
    75% {
        top: 100px;
        left: 50px;                 
        transform: scale(2.9); 
    }
    100% {
        top: 0;
        left: 0;            
    }   
}
@keyframes move {
    0% {
        background: #03a714;        
    }            
    50% {
        background: #17ad26;    
    }
    100% {
        background: #03a714;        
    }   
}
@media screen and (max-width: 768px) {
    .SideNav {
        width: 6rem!important;    
    }
}
.SideNav li {
    line-height: 25px;
}
.SideNav li i {
    font-size: 13px;
    font-weight: 600;
    width: 18px;
}
.SideNav li span {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .6px;
    margin-left: 8px;
}

.SideNav .brand {
    color: #000;
    background: #fff;
    border-radius: 10px;
    margin: 12px 12px;
    display: flex!important;
    justify-content: space-around!important;
    align-items: center!important;
    /* padding: 0 20px; */
    height: 49px;
}
.SideNav img.icon {
    height: 50px;
    width: 50px;
}
.SideNav .sidebar-brand .sidebar-brand-text {    
    font-size: 17px;
    font-weight: 700;
    /* letter-spacing: 2px; */
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 0rem;
    width: 5rem;
}
@media (min-width: 768px) {
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
    }
}
@media (max-width: 480px) {
    .SideNav li span {        
        margin-left: 0px;
    }
}

.sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.85);
}
.sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.5);
}
.sidebar-dark #sidebarToggle {
    background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-dark #sidebarToggle:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #6eb821;
    font-weight: 700;
    /* box-shadow: 1px 1px 19px #ddd; */
}

/* ------------------------------ DASHBOARD */
.triangle-fresh {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid #14A44D;
    border-bottom: 80px solid transparent;
    border-left: -20px solid transparent;
    rotate: 0deg!important;
    position: relative;
    top: 0px!important;
    right: 0px!important;
}
.triangle-live {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid blue;
    border-bottom: 80px solid transparent;
    border-left: -20px solid transparent;
    rotate: 0deg!important;
    position: relative;
    top: 0px!important;
    right: 0px!important;
}
.triangle-info {
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 80px solid rgb(78, 183, 243);
    border-bottom: 80px solid transparent;
    border-left: -20px solid transparent;
    rotate: 0deg!important;
    position: relative;
    top: 0px!important;
    right: 0px!important;
}
@media screen and (max-width: 768px) {
    .triangle-fresh {
        rotate: 135deg!important;
        position: relative;
        top: -80px!important;
        right: -32px!important;
    }
    .triangle-live {
        rotate: 135deg!important;
        position: relative;
        top: -80px!important;
        right: -32px!important;
    }
    .triangle-info {
        rotate: 135deg!important;
        position: relative;
        top: -80px!important;
        right: -32px!important;
    }
}

 

.spinner {
    position: absolute;
    background: rgba(255, 255, 255, 0.541);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}


.t-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;    
    height: 55px;
    width: 105px;
    border-radius: 3px;
    border-bottom: 5px dashed #20d206;
    border-right: 5px solid #53c500;
}

.t-card::before {
    content: '';
    position: absolute;
    height: 55px;
    width: 105px;
    border-radius: 3px;
    border-top: 5px dashed #20d206;
    border-left: 5px solid #53c500;
}


.text-greeny {
  color: #129d56ad !important;
}
.bg-gray {
    background-color : #f7f7f7;
}
.bg-greeny {
    background-color : #69b73deb;
}

.table tbody tr:nth-child(even) {
    background: #fafafabe;
}
/* .table tbody tr:hover {
    transform: scale(1.015);
} */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6eb821;
    border-color: #6eb821;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6eb821;
    background-color: #fff;
    border: 1px solid #dddfeb;
}
.page-link:hover {
    z-index: 2;
    color: #6eb821;
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #dddfeb;
}
a.page-link:active {   
    color: #6eb821 !important;
    text-decoration: none !important;    
}
a.page-link:focus {   
    color: #6eb821 !important;
    text-decoration: none !important;    
}
footer a {
    color: #6eb821 !important;
}



/*----------------Customer Creation List-------------*/

.CustomerCreationList .table thead th {
    vertical-align: middle;
    border-bottom: 1px solid #f0f0f0;    
}



/*----------------Customer Creation Main--------------*/


.CustomerCreationMain .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #6eb821;
    border-color: #fff #fff #6eb821;
    border-bottom: 0.2rem solid;
}
.CustomerCreationMain .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #585858;           
}
.CustomerCreationMain .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    color: #6eb821;
    border-color: #fff #fff #6eb821!important;
    border-bottom: 0.2rem solid #6eb821;
}
.CustomerCreationMain .nav-tabs .nav-link:hover {
    color: #6eb821;
    border-color: #fff #fff #fff;
    /* border-bottom: 0.2rem solid; */
}
.CustomerCreationMain .tabContent label{
    font-size: 14px;
    font-weight: 500 ;
    color: #5f5f5f;
}
.CustomerCreationMain .tabContent input{
    font-size: 14px;    
}
.CustomerCreationMain .tabContent textarea{
    font-size: 14px;    
}